<% date = @album.created_at %>
<div id="date"><p><%= @album.album_title %> was hidden on <%= format_date(date) %>,<br> <%= @album.place_title %> by Michael Todd.</div><div id="date_red"><strong>Find it first, and it's yours.</strong></div></p>
<div id="album">
<div id="rdio"><%= @album.rdio %></div>
<h3> <div id="title">WHAT: <%= @album.album_title %></div></h3>
<p><div id="album_review"><%= @album.album_review %></div></p>
</div>
<div id="place">
<%= @album.map %>
<h3><div id="title">WHERE: <%= @album.place_title %></div></h3>
<p><%= @album.place_description %></p>
</div>

<!-- <div id="found">
	<hr><a href="/album/<%= @album.id %>/found" target="_blank"><div id="found_button">FOUND</div></a> -->