<div id="admin_title"><h2>Edit <%= @album.album_title %></h2></div>
	<form method="post" action="/album/<%= @album.id %>/edit">
		<p><label for="album_title">Album title </label><input type="text" name="album_title" value="<%= @album.album_title.gsub('"', '\'') %>" size="70"></p>
		<p><label for="album_cover">Album cover link: </label><input type="url" name="album_cover" value="<%= @album.album_cover %>" size="70"></p>
		<p><label for="album_review">Album review: </label><textarea rows="15" cols="70" name="album_review"><%= @album.album_review %></textarea></p>
		<p><label for="rdio">Rdio embed code: </label><input type="text" name="rdio" size="100" value="<%= @album.rdio.gsub('"', '\'') %>"</p>
<div id="admin_title"><h2>Edit its location</h2></div>
		<p><label for="place_title">Place title: </label><input type="text" name="place_title" value="<%= @album.place_title %>" size="70"></p>
		<p><label for="place_description">Place description: </label><textarea rows="15" cols="70" name="place_description"><%= @album.place_description %></textarea></p>
		<p><label for="map">Google Maps embed code: </label><input type="text" name="map" size="100" value="<%= @album.map.gsub('"', '\'') %>" size="70"></p>
		<p><input type="submit" value="Submit"></p>
	</form>
	<hr>
	<form method="post" action="/album/<%= @album.id %>/delete">
	<input type="text" name="delete" placeholder="Type DELETE and submit to delete this album." size="46">
	<input type="submit" value="Submit">
	</form>